{% extends "utils/base.html"%}
{% block content %}

    <section> 



  <div class="container">
    
          

      <div class="jumbotron">
        <h2>Prod Announcer</h2>
        <p class="lead">Texto Qualquer Texto Qualquer Texto Qualquer Texto Qualquer Texto Qualquer
         Texto Qualquer Texto Qualquer Texto Qualquer Texto Qualquer Texto Qualquer
       </p>
         <button type="button" class="btn btn-lg btn-primary" onclick="window.location.href='{% url "login" %}'">
  Login</button>

      </div>

      
     

    </div> 




      
    
    </section> 

{% endblock %}

