{% extends "utils/base.html"%}
{% block content %}
    <div class="container">
      <form class="form-signin" action="{% url 'login' %}" METHOD='POST'>
        <h2 class="form-signin-heading">Please sign in</h2>
        {% csrf_token %}
        <input type="text" class="input-block-level" placeholder="Nome de Usuario">
        <input type="password" class="input-block-level" placeholder="Senha">
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
      </form>
    </div> <!-- /container -->  
{% endblock %}



