{% extends "utils/base.html"%}
{% block content %}
    <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Redefinir Senha</h2>
        <input type="password" class="input-block-level" placeholder="Senha Atual">
        <input type="password" class="input-block-level" placeholder="Nova Senha">
        <input type="password" class="input-block-level" placeholder="Repita a Senha">
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Lembrar Senha
        </label>
        <button class="btn btn-large btn-primary" type="submit">Alterar</button>
      </form>

    </div> <!-- /container -->  
{% endblock %}

