{% extends "utils/base.html"%}
{% block content %}
    <div class="container">

      <form class="form-signin" action="{%url 'mudar_senha' %}" METHOD="POST">
        <h2 class="form-signin-heading">Redefinir Senha</h2>
        {% csrf_token %}
        <input type="password" name="password" class="input-block-level" placeholder="Nova Senha" value="">
        <input type="password" name="confirm_password" class="input-block-level" placeholder="Repita a Senha" value="">
        <input class="btn btn-primary" type="submit" value="Alterar"/>
      </form>

    </div> <!-- /container -->  
{% endblock %}

